#  <font color=red> Module_08_資料聚合</font>

## 拆開資料

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.941612 -0.354998
1    a  two -0.730482  0.574930
2    b  one  1.107562  0.241878
3    b  two  1.673502  0.855498
4    a  one -0.523864  0.785448

分組的 key 可以是序列
對應關係要注意
返回的是一個 GroupBy 的物件

In [2]:
grouped = df['data1'].groupby(df['key1'])  
grouped

一個序列
分組的 key 會當索引標籤

In [3]:
grouped.mean()

key1
a   -0.104245
b    1.390532
Name: data1, dtype: float64

---

In [4]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()
means

key1  key2
a     one     0.208874
      two    -0.730482
b     one     1.107562
      two     1.673502
Name: data1, dtype: float64

In [5]:
means.unstack()

key2       one       two
key1
a     0.208874 -0.730482
b     1.107562  1.673502

---

In [6]:
df

  key1 key2     data1     data2
0    a  one  0.941612 -0.354998
1    a  two -0.730482  0.574930
2    b  one  1.107562  0.241878
3    b  two  1.673502  0.855498
4    a  one -0.523864  0.785448

分組的 key 也可以是長度相符的陣列
分組的 key 會當索引標籤

In [7]:
states = np.array(['Ohio', 'California', 'California', 'Ohio', 'Ohio'])
years = np.array([2005, 2005, 2006, 2005, 2006])
df['data1'].groupby([states, years]).mean()

California  2005   -0.730482
            2006    1.107562
Ohio        2005    1.307557
            2006   -0.523864
Name: data1, dtype: float64

---

In [8]:
df

  key1 key2     data1     data2
0    a  one  0.941612 -0.354998
1    a  two -0.730482  0.574930
2    b  one  1.107562  0.241878
3    b  two  1.673502  0.855498
4    a  one -0.523864  0.785448

直接使用資料框
分組的 key 也可以是欄位名稱，此時前面的資料框就要跟欄位有關
key2 的欄位因為不是數值型態，所以不會被包含在輸出結果中，但儘量不要這樣寫

In [9]:
df.groupby('key1').mean()

         data1     data2
key1
a    -0.104245  0.335127
b     1.390532  0.548688

這樣會是比較好的寫法
先 df.groupby('key1') 得到 GroupBy 的物件
再用 index 的方式表達要顯示那些欄位 df.groupby('key1')[['data1', 'data2']]
最後套用聚合方法

In [10]:
df.groupby('key1')[['data1', 'data2']].mean()

         data1     data2
key1
a    -0.104245  0.335127
b     1.390532  0.548688

---

In [11]:
df

  key1 key2     data1     data2
0    a  one  0.941612 -0.354998
1    a  two -0.730482  0.574930
2    b  one  1.107562  0.241878
3    b  two  1.673502  0.855498
4    a  one -0.523864  0.785448

In [12]:
df.groupby(['key1', 'key2']).mean()

              data1     data2
key1 key2
a    one   0.208874  0.215225
     two  -0.730482  0.574930
b    one   1.107562  0.241878
     two   1.673502  0.855498

返回序列
資料列的個數，是不是遺失值都要算

In [15]:
df.groupby(['key1', 'key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

---

In [16]:
df

  key1 key2     data1     data2
0    a  one  0.941612 -0.354998
1    a  two -0.730482  0.574930
2    b  one  1.107562  0.241878
3    b  two  1.673502  0.855498
4    a  one -0.523864  0.785448

In [17]:
df.groupby('key1') # GroupBy 物件

name就是分到的每個組
group就是滿足這個組的所有資料

In [18]:
for name, group in df.groupby('key1'): # GroupBy 物件支援疊代，會產生 2-tuple 的序列 
    print(name)
    print(group)

a
  key1 key2     data1     data2
0    a  one  0.941612 -0.354998
1    a  two -0.730482  0.574930
4    a  one -0.523864  0.785448
b
  key1 key2     data1     data2
2    b  one  1.107562  0.241878
3    b  two  1.673502  0.855498

In [19]:
df

  key1 key2     data1     data2
0    a  one  0.941612 -0.354998
1    a  two -0.730482  0.574930
2    b  one  1.107562  0.241878
3    b  two  1.673502  0.855498
4    a  one -0.523864  0.785448

In [20]:
for name, group in df.groupby(['key1', 'key2']):
    print(name)
    print(group)

('a', 'one')
  key1 key2     data1     data2
0    a  one  0.941612 -0.354998
4    a  one -0.523864  0.785448
('a', 'two')
  key1 key2     data1    data2
1    a  two -0.730482  0.57493
('b', 'one')
  key1 key2     data1     data2
2    b  one  1.107562  0.241878
('b', 'two')
  key1 key2     data1     data2
3    b  two  1.673502  0.855498

---

放進函式 list() 看會變成如何
裝成 (key, value) 的 tuple

In [21]:
list(df.groupby('key1'))

[('a',
    key1 key2     data1     data2
  0    a  one  0.941612 -0.354998
  1    a  two -0.730482  0.574930
  4    a  one -0.523864  0.785448),
 ('b',
    key1 key2     data1     data2
  2    b  one  1.107562  0.241878
  3    b  two  1.673502  0.855498)]

In [22]:
pieces = dict(list(df.groupby('key1')))
pieces

{'a':   key1 key2     data1     data2
 0    a  one  0.941612 -0.354998
 1    a  two -0.730482  0.574930
 4    a  one -0.523864  0.785448,
 'b':   key1 key2     data1     data2
 2    b  one  1.107562  0.241878
 3    b  two  1.673502  0.855498}

可以用key找value

In [23]:
pieces['b']

  key1 key2     data1     data2
2    b  one  1.107562  0.241878
3    b  two  1.673502  0.855498

---

In [24]:
df

  key1 key2     data1     data2
0    a  one  0.941612 -0.354998
1    a  two -0.730482  0.574930
2    b  one  1.107562  0.241878
3    b  two  1.673502  0.855498
4    a  one -0.523864  0.785448

In [25]:
df.dtypes

key1      object
key2      object
data1    float64
data2    float64
dtype: object

預設 axis = 0 對列操作，axis = 1 對行做操作

In [26]:
grouped = df.groupby(df.dtypes, axis = 1)

In [27]:
for name, group in grouped:
    print(name)
    print(group)

float64
      data1     data2
0  0.941612 -0.354998
1 -0.730482  0.574930
2  1.107562  0.241878
3  1.673502  0.855498
4 -0.523864  0.785448
object
  key1 key2
0    a  one
1    a  two
2    b  one
3    b  two
4    a  one

---

In [28]:
df

  key1 key2     data1     data2
0    a  one  0.941612 -0.354998
1    a  two -0.730482  0.574930
2    b  one  1.107562  0.241878
3    b  two  1.673502  0.855498
4    a  one -0.523864  0.785448

In [29]:
df.groupby('key1')['data1'].mean()

key1
a   -0.104245
b    1.390532
Name: data1, dtype: float64

注意上面那個跟這裡的寫法，兩個出來同一個效果

In [30]:
df['data1'].groupby(df['key1']).mean()

key1
a   -0.104245
b    1.390532
Name: data1, dtype: float64

兩個框框就變資料框了

In [ ]:
df.groupby('key1')[['data1']].mean()

In [31]:
df[['data1']].groupby(df['key1']).mean()

         data1
key1
a    -0.104245
b     1.390532

---

In [32]:
df

  key1 key2     data1     data2
0    a  one  0.941612 -0.354998
1    a  two -0.730482  0.574930
2    b  one  1.107562  0.241878
3    b  two  1.673502  0.855498
4    a  one -0.523864  0.785448

In [33]:
df.groupby(['key1', 'key2'])['data2'].mean() # 返回序列

key1  key2
a     one     0.215225
      two     0.574930
b     one     0.241878
      two     0.855498
Name: data2, dtype: float64

In [34]:
df.groupby(['key1', 'key2'])[['data2']].mean() # 返回資料框

              data2
key1 key2
a    one   0.215225
     two   0.574930
b    one   0.241878
     two   0.855498

---

In [35]:
# 分組的 key 也可以是字典或序列 
# 對應關係要注意
people = pd.DataFrame(np.random.randn(5, 5),
                      columns = ['a', 'b', 'c', 'd', 'e'],
                      index = ['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])
people

               a         b         c         d         e
Joe     1.920515 -0.652227 -2.470471 -0.360688 -0.354065
Steve   0.112605 -0.215804 -0.289432 -1.897194 -0.243269
Wes    -0.363198  0.575984  0.672422  0.448993  0.947914
Jim    -0.326239 -0.075330  1.838055  0.743629  1.612936
Travis -1.796953  1.119782  0.853402  1.378895 -1.070003

In [36]:
people.iloc[2:3, [1, 2]] = np.nan
people

               a         b         c         d         e
Joe     1.920515 -0.652227 -2.470471 -0.360688 -0.354065
Steve   0.112605 -0.215804 -0.289432 -1.897194 -0.243269
Wes    -0.363198       NaN       NaN  0.448993  0.947914
Jim    -0.326239 -0.075330  1.838055  0.743629  1.612936
Travis -1.796953  1.119782  0.853402  1.378895 -1.070003

In [38]:
mapping = {'a': 'red', 'b': 'red', 'c': 'blue', 'd': 'blue', 'e': 'red', 'f' : 'orange'}

In [39]:
# 一個不會用到分組的 key 'f'，是不會有問題的
# 但如果你是寫成列表，長度不對就會產生例外
# 在操作時大部分的聚合方法都會忽略遺失值
by_column = people.groupby(mapping, axis = 1) 
by_column.mean()

            blue       red
Joe    -1.415580  0.304741
Steve  -1.093313 -0.115489
Wes     0.448993  0.292358
Jim     1.290842  0.403789
Travis  1.116148 -0.582391

---

In [40]:
people

               a         b         c         d         e
Joe     1.920515 -0.652227 -2.470471 -0.360688 -0.354065
Steve   0.112605 -0.215804 -0.289432 -1.897194 -0.243269
Wes    -0.363198       NaN       NaN  0.448993  0.947914
Jim    -0.326239 -0.075330  1.838055  0.743629  1.612936
Travis -1.796953  1.119782  0.853402  1.378895 -1.070003

In [41]:
map_Series = pd.Series(mapping)
map_Series

a       red
b       red
c      blue
d      blue
e       red
f    orange
dtype: object

In [42]:
people.groupby(map_Series, axis = 1).count() # 這裡的聚合方法 .count() 遺失值不會算入

        blue  red
Joe        2    3
Steve      2    3
Wes        1    2
Jim        2    3
Travis     2    3

---

In [43]:
people

               a         b         c         d         e
Joe     1.920515 -0.652227 -2.470471 -0.360688 -0.354065
Steve   0.112605 -0.215804 -0.289432 -1.897194 -0.243269
Wes    -0.363198       NaN       NaN  0.448993  0.947914
Jim    -0.326239 -0.075330  1.838055  0.743629  1.612936
Travis -1.796953  1.119782  0.853402  1.378895 -1.070003

In [44]:
people.groupby(len)

In [45]:
# 分組的 key 也可以是函式
# 會作用在每個索引標籤上
# 若加入參數 axis = 1 ，就會作用在欄位上
people.groupby(len).sum()

          a         b         c         d         e
3  1.231078 -0.727556 -0.632416  0.831934  2.206785
5  0.112605 -0.215804 -0.289432 -1.897194 -0.243269
6 -1.796953  1.119782  0.853402  1.378895 -1.070003

In [46]:
people.groupby(len, axis = 1).sum()

               1
Joe    -1.916936
Steve  -2.533094
Wes     1.033709
Jim     3.793052
Travis  0.485123

In [47]:
key_list = ['one', 'one', 'one', 'two', 'two']
people.groupby([len, key_list]).min()

              a         b         c         d         e
3 one -0.363198 -0.652227 -2.470471 -0.360688 -0.354065
  two -0.326239 -0.075330  1.838055  0.743629  1.612936
5 one  0.112605 -0.215804 -0.289432 -1.897194 -0.243269
6 two -1.796953  1.119782  0.853402  1.378895 -1.070003

---

In [48]:
# 也可以對索引標籤做分組
columns = pd.MultiIndex.from_arrays([['US', 'US', 'US', 'JP', 'JP'],
                                    [1, 3, 5, 1, 3]],
                                    names = ['cty', 'tenor'])
hier_df = pd.DataFrame(np.random.randn(4, 5), columns = columns)
hier_df

cty          US                            JP
tenor         1         3         5         1         3
0     -0.118244 -0.745081 -0.231805 -1.257089  0.353606
1      0.645574  1.147467 -0.904586  0.460403 -0.877172
2     -1.507434  0.882368  1.310793 -0.641831 -0.379770
3      0.214045 -2.165885  0.549009  0.403771 -0.099045

In [49]:
hier_df.groupby(level = 'cty', axis = 1).count()

cty  JP  US
0     2   3
1     2   3
2     2   3
3     2   3

In [50]:
hier_df.groupby(level = 0).count()

cty   US       JP
tenor  1  3  5  1  3
0      1  1  1  1  1
1      1  1  1  1  1
2      1  1  1  1  1
3      1  1  1  1  1

---

In [51]:
sensor_data = pd.read_csv('./mod08/sensors.csv')
sensor_data

    interval       sensor axis  reading
0          0        accel    Z      0.0
1          0        accel    Y      0.5
2          0        accel    X      1.0
3          1        accel    Z      0.1
4          1        accel    Y      0.4
5          1        accel    X      0.9
6          2        accel    Z      0.2
7          2        accel    Y      0.3
8          2        accel    X      0.8
9          3        accel    Z      0.3
10         3        accel    Y      0.2
11         3        accel    X      0.7
12         0  orientation    Z      0.0
13         0  orientation    Y      0.1
14         0  orientation    X      0.0
15         1  orientation    Z      0.0
16         1  orientation    Y      0.2
17         1  orientation    X      0.1
18         2  orientation    Z      0.0
19         2  orientation    Y      0.3
20         2  orientation    X      0.2
21         3  orientation    Z      0.0
22         3  orientation    Y      0.4
23         3  orientation    X      0.3

In [52]:
group_by_sensor = sensor_data.groupby('sensor')
group_by_sensor # 返回一個 GroupBy 物件

In [54]:
# 如果想看分組數目可用 ngroups 屬性
group_by_sensor.ngroups

2

In [55]:
group_by_sensor.groups

{'accel': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], 'orientation': [12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]}

---

In [56]:
for name, group in group_by_sensor:
    print(name)
    print(group)

accel
    interval sensor axis  reading
0          0  accel    Z      0.0
1          0  accel    Y      0.5
2          0  accel    X      1.0
3          1  accel    Z      0.1
4          1  accel    Y      0.4
5          1  accel    X      0.9
6          2  accel    Z      0.2
7          2  accel    Y      0.3
8          2  accel    X      0.8
9          3  accel    Z      0.3
10         3  accel    Y      0.2
11         3  accel    X      0.7
orientation
    interval       sensor axis  reading
12         0  orientation    Z      0.0
13         0  orientation    Y      0.1
14         0  orientation    X      0.0
15         1  orientation    Z      0.0
16         1  orientation    Y      0.2
17         1  orientation    X      0.1
18         2  orientation    Z      0.0
19         2  orientation    Y      0.3
20         2  orientation    X      0.2
21         3  orientation    Z      0.0
22         3  orientation    Y      0.4
23         3  orientation    X      0.3

In [57]:
# 可以定義成函式，這樣程式碼可以重複使用，注意裡面的參數是要帶入 GroupBy 物件
def print_groups(group_object):
    for name, group in group_object:
        print(name)
        print(group[:5])

---

In [58]:
print_groups(group_by_sensor)

accel
   interval sensor axis  reading
0         0  accel    Z      0.0
1         0  accel    Y      0.5
2         0  accel    X      1.0
3         1  accel    Z      0.1
4         1  accel    Y      0.4
orientation
    interval       sensor axis  reading
12         0  orientation    Z      0.0
13         0  orientation    Y      0.1
14         0  orientation    X      0.0
15         1  orientation    Z      0.0
16         1  orientation    Y      0.2

In [59]:
# 返回序列
# 資料列的個數，是不是遺失值都要算
group_by_sensor.size()

sensor
accel          12
orientation    12
dtype: int64

In [60]:
group_by_sensor.count() # 對列作操作數個數，排除遺失值

             interval  axis  reading
sensor
accel              12    12       12
orientation        12    12       12

In [61]:
group_by_sensor.get_group('accel') # 可以用 GroupBy 的 .get_group() 方法提取特定分組

    interval sensor axis  reading
0          0  accel    Z      0.0
1          0  accel    Y      0.5
2          0  accel    X      1.0
3          1  accel    Z      0.1
4          1  accel    Y      0.4
5          1  accel    X      0.9
6          2  accel    Z      0.2
7          2  accel    Y      0.3
8          2  accel    X      0.8
9          3  accel    Z      0.3
10         3  accel    Y      0.2
11         3  accel    X      0.7

In [62]:
group_by_sensor.head(3) # GroupBy 物件的方法，顯示每個分組的前三筆資料

    interval       sensor axis  reading
0          0        accel    Z      0.0
1          0        accel    Y      0.5
2          0        accel    X      1.0
12         0  orientation    Z      0.0
13         0  orientation    Y      0.1
14         0  orientation    X      0.0

In [63]:
group_by_sensor.tail(3) # GroupBy 物件的方法，顯示每個分組的後三筆資料

    interval       sensor axis  reading
9          3        accel    Z      0.3
10         3        accel    Y      0.2
11         3        accel    X      0.7
21         3  orientation    Z      0.0
22         3  orientation    Y      0.4
23         3  orientation    X      0.3

In [64]:
group_by_sensor.nth(1) # GroupBy 物件的方法，傳回第二項

             interval axis  reading
sensor
accel               0    Y      0.5
orientation         0    Y      0.1

In [65]:
# GroupBy 物件的方法，對每一組做敘述性統計量
# axis 不是數值資料，所以沒有被顯示
group_by_sensor.describe()

            interval                                           reading  \
               count mean       std  min   25%  50%   75%  max   count
sensor
accel           12.0  1.5  1.167748  0.0  0.75  1.5  2.25  3.0    12.0
orientation     12.0  1.5  1.167748  0.0  0.75  1.5  2.25  3.0    12.0


                 mean       std  min  25%   50%    75%  max
sensor
accel        0.450000  0.328910  0.0  0.2  0.35  0.725  1.0
orientation  0.133333  0.143548  0.0  0.0  0.10  0.225  0.4

---

In [66]:
sensor_data

    interval       sensor axis  reading
0          0        accel    Z      0.0
1          0        accel    Y      0.5
2          0        accel    X      1.0
3          1        accel    Z      0.1
4          1        accel    Y      0.4
5          1        accel    X      0.9
6          2        accel    Z      0.2
7          2        accel    Y      0.3
8          2        accel    X      0.8
9          3        accel    Z      0.3
10         3        accel    Y      0.2
11         3        accel    X      0.7
12         0  orientation    Z      0.0
13         0  orientation    Y      0.1
14         0  orientation    X      0.0
15         1  orientation    Z      0.0
16         1  orientation    Y      0.2
17         1  orientation    X      0.1
18         2  orientation    Z      0.0
19         2  orientation    Y      0.3
20         2  orientation    X      0.2
21         3  orientation    Z      0.0
22         3  orientation    Y      0.4
23         3  orientation    X      0.3

In [67]:
mcg = sensor_data.groupby(['sensor', 'axis']) # 因為指定了好幾行，所以名字變成了 tuple
print_groups(mcg)

('accel', 'X')
    interval sensor axis  reading
2          0  accel    X      1.0
5          1  accel    X      0.9
8          2  accel    X      0.8
11         3  accel    X      0.7
('accel', 'Y')
    interval sensor axis  reading
1          0  accel    Y      0.5
4          1  accel    Y      0.4
7          2  accel    Y      0.3
10         3  accel    Y      0.2
('accel', 'Z')
   interval sensor axis  reading
0         0  accel    Z      0.0
3         1  accel    Z      0.1
6         2  accel    Z      0.2
9         3  accel    Z      0.3
('orientation', 'X')
    interval       sensor axis  reading
14         0  orientation    X      0.0
17         1  orientation    X      0.1
20         2  orientation    X      0.2
23         3  orientation    X      0.3
('orientation', 'Y')
    interval       sensor axis  reading
13         0  orientation    Y      0.1
16         1  orientation    Y      0.2
19         2  orientation    Y      0.3
22         3  orientation    Y      0.4
('orientation', 'Z')
    interval       sensor axis  reading
12         0  orientation    Z      0.0
15         1  orientation    Z      0.0
18         2  orientation    Z      0.0
21         3  orientation    Z      0.0

---

In [68]:
mi = sensor_data.copy()
mi = mi.set_index(['sensor', 'axis'])
mi

                  interval  reading
sensor      axis
accel       Z            0      0.0
            Y            0      0.5
            X            0      1.0
            Z            1      0.1
            Y            1      0.4
            X            1      0.9
            Z            2      0.2
            Y            2      0.3
            X            2      0.8
            Z            3      0.3
            Y            3      0.2
            X            3      0.7
orientation Z            0      0.0
            Y            0      0.1
            X            0      0.0
            Z            1      0.0
            Y            1      0.2
            X            1      0.1
            Z            2      0.0
            Y            2      0.3
            X            2      0.2
            Z            3      0.0
            Y            3      0.4
            X            3      0.3

In [69]:
print_groups(mi.groupby(level = 0)) # 對索引標籤進行分組

accel
             interval  reading
sensor axis
accel  Z            0      0.0
       Y            0      0.5
       X            0      1.0
       Z            1      0.1
       Y            1      0.4
orientation
                  interval  reading
sensor      axis
orientation Z            0      0.0
            Y            0      0.1
            X            0      0.0
            Z            1      0.0
            Y            1      0.2

In [70]:
print_groups(mi.groupby(level = ['sensor', 'axis']))

('accel', 'X')
             interval  reading
sensor axis
accel  X            0      1.0
       X            1      0.9
       X            2      0.8
       X            3      0.7
('accel', 'Y')
             interval  reading
sensor axis
accel  Y            0      0.5
       Y            1      0.4
       Y            2      0.3
       Y            3      0.2
('accel', 'Z')
             interval  reading
sensor axis
accel  Z            0      0.0
       Z            1      0.1
       Z            2      0.2
       Z            3      0.3
('orientation', 'X')
                  interval  reading
sensor      axis
orientation X            0      0.0
            X            1      0.1
            X            2      0.2
            X            3      0.3
('orientation', 'Y')
                  interval  reading
sensor      axis
orientation Y            0      0.1
            Y            1      0.2
            Y            2      0.3
            Y            3      0.4
('orientation', 'Z')
                  interval  reading
sensor      axis
orientation Z            0      0.0
            Z            1      0.0
            Z            2      0.0
            Z            3      0.0

## 套用聚合函數

In [71]:
s = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9])
s

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [72]:
# Return value at the given quantile.
# 找出分位數
s.quantile(0.5)

5.0

In [73]:
s.quantile([0.25, 0.5, 0.75])

0.25    3.0
0.50    5.0
0.75    7.0
dtype: float64

---

In [74]:
s = pd.Series([1, 2, 3, 4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [75]:
s.quantile(0.5)

2.5

In [76]:
# 第一步看位置，四個數共三格
# 在 1 + 0.25*3 = 1.75 的位置 
# 第 1 的數是 1 ，第 2 的數是 2，回推第 1.75位置的數是多少
s.quantile([0.25, 0.5, 0.75, 0.9])

0.25    1.75
0.50    2.50
0.75    3.25
0.90    3.70
dtype: float64

---

In [77]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  1.099040 -1.373152
1    a  two -0.801810 -0.962205
2    b  one  0.797643  0.872801
3    b  two  0.127508  0.503041
4    a  one -0.392103  1.376158

In [78]:
# 如果沒寫 [['data1', 'data2']]，會出現警告，因為非數值的 key2 沒辦法算分位數
grouped = df.groupby('key1')[['data1', 'data2']]
grouped.quantile(0.5)

         data1     data2
key1
a    -0.392103 -0.962205
b     0.462575  0.687921

In [79]:
grouped.mean()

         data1     data2
key1
a    -0.031624 -0.319733
b     0.462575  0.687921

In [80]:
# 另一種寫法
# 用 .agg() 方法，傳入聚合的函數
grouped.agg(np.mean)

         data1     data2
key1
a    -0.031624 -0.319733
b     0.462575  0.687921

In [81]:
# 也可以傳入字串，但有些沒辦法被辨識出
grouped.agg('mean')

         data1     data2
key1
a    -0.031624 -0.319733
b     0.462575  0.687921

---

In [82]:
print_groups(grouped)

a
  key1 key2     data1     data2
0    a  one  1.099040 -1.373152
1    a  two -0.801810 -0.962205
4    a  one -0.392103  1.376158
b
  key1 key2     data1     data2
2    b  one  0.797643  0.872801
3    b  two  0.127508  0.503041

In [83]:
# 注意 arr 傳入的會是序列
def peak_to_peak(arr):
    return arr.max() - arr.min()

In [84]:
# 傳入自定義的函數
grouped.agg(peak_to_peak)

         data1    data2
key1
a     1.900849  2.74931
b     0.670135  0.36976

In [85]:
def max_Series(arr):
    return max(arr.map(abs))

In [86]:
# 傳入自定義的函數
grouped.agg(max_Series)

         data1     data2
key1
a     1.099040  1.376158
b     0.797643  0.872801

---

In [ ]:
grouped.describe()

---

In [94]:
tips = pd.read_csv('./mod08/tips.csv')
tips

     total_bill   tip smoker   day    time  size
0         16.99  1.01     No   Sun  Dinner     2
1         10.34  1.66     No   Sun  Dinner     3
2         21.01  3.50     No   Sun  Dinner     3
3         23.68  3.31     No   Sun  Dinner     2
4         24.59  3.61     No   Sun  Dinner     4
..          ...   ...    ...   ...     ...   ...
239       29.03  5.92     No   Sat  Dinner     3
240       27.18  2.00    Yes   Sat  Dinner     2
241       22.67  2.00    Yes   Sat  Dinner     2
242       17.82  1.75     No   Sat  Dinner     2
243       18.78  3.00     No  Thur  Dinner     2

[244 rows x 6 columns]

In [95]:
# 加入小費佔總結帳金額的比例
tips['tip_pct'] = tips['tip'] / tips['total_bill']
tips[:6]

   total_bill   tip smoker  day    time  size   tip_pct
0       16.99  1.01     No  Sun  Dinner     2  0.059447
1       10.34  1.66     No  Sun  Dinner     3  0.160542
2       21.01  3.50     No  Sun  Dinner     3  0.166587
3       23.68  3.31     No  Sun  Dinner     2  0.139780
4       24.59  3.61     No  Sun  Dinner     4  0.146808
5       25.29  4.71     No  Sun  Dinner     4  0.186240

In [96]:
grouped = tips.groupby(['day', 'smoker'])
print_groups(grouped)

('Fri', 'No')
     total_bill   tip smoker  day    time  size   tip_pct
91        22.49  3.50     No  Fri  Dinner     2  0.155625
94        22.75  3.25     No  Fri  Dinner     2  0.142857
99        12.46  1.50     No  Fri  Dinner     2  0.120385
223       15.98  3.00     No  Fri   Lunch     3  0.187735
('Fri', 'Yes')
    total_bill   tip smoker  day    time  size   tip_pct
90       28.97  3.00    Yes  Fri  Dinner     2  0.103555
92        5.75  1.00    Yes  Fri  Dinner     2  0.173913
93       16.32  4.30    Yes  Fri  Dinner     2  0.263480
95       40.17  4.73    Yes  Fri  Dinner     4  0.117750
96       27.28  4.00    Yes  Fri  Dinner     2  0.146628
('Sat', 'No')
    total_bill   tip smoker  day    time  size   tip_pct
19       20.65  3.35     No  Sat  Dinner     3  0.162228
20       17.92  4.08     No  Sat  Dinner     2  0.227679
21       20.29  2.75     No  Sat  Dinner     2  0.135535
22       15.77  2.23     No  Sat  Dinner     2  0.141408
23       39.42  7.58     No  Sat  Dinner     4  0.192288
('Sat', 'Yes')
    total_bill   tip smoker  day    time  size   tip_pct
56       38.01  3.00    Yes  Sat  Dinner     4  0.078927
58       11.24  1.76    Yes  Sat  Dinner     2  0.156584
60       20.29  3.21    Yes  Sat  Dinner     2  0.158206
61       13.81  2.00    Yes  Sat  Dinner     2  0.144823
62       11.02  1.98    Yes  Sat  Dinner     2  0.179673
('Sun', 'No')
   total_bill   tip smoker  day    time  size   tip_pct
0       16.99  1.01     No  Sun  Dinner     2  0.059447
1       10.34  1.66     No  Sun  Dinner     3  0.160542
2       21.01  3.50     No  Sun  Dinner     3  0.166587
3       23.68  3.31     No  Sun  Dinner     2  0.139780
4       24.59  3.61     No  Sun  Dinner     4  0.146808
('Sun', 'Yes')
     total_bill   tip smoker  day    time  size   tip_pct
164       17.51  3.00    Yes  Sun  Dinner     2  0.171331
172        7.25  5.15    Yes  Sun  Dinner     2  0.710345
173       31.85  3.18    Yes  Sun  Dinner     2  0.099843
174       16.82  4.00    Yes  Sun  Dinner     2  0.237812
175       32.90  3.11    Yes  Sun  Dinner     2  0.094529
('Thur', 'No')
    total_bill   tip smoker   day   time  size   tip_pct
77       27.20  4.00     No  Thur  Lunch     4  0.147059
78       22.76  3.00     No  Thur  Lunch     2  0.131810
79       17.29  2.71     No  Thur  Lunch     2  0.156738
81       16.66  3.40     No  Thur  Lunch     2  0.204082
82       10.07  1.83     No  Thur  Lunch     1  0.181728
('Thur', 'Yes')
     total_bill   tip smoker   day   time  size   tip_pct
80        19.44  3.00    Yes  Thur  Lunch     2  0.154321
83        32.68  5.00    Yes  Thur  Lunch     2  0.152999
138       16.00  2.00    Yes  Thur  Lunch     2  0.125000
191       19.81  4.19    Yes  Thur  Lunch     2  0.211509
192       28.44  2.56    Yes  Thur  Lunch     2  0.090014

In [97]:
# 關注欄位 tip_pct
grouped_pct = grouped['tip_pct']
print_groups(grouped_pct)

('Fri', 'No')
91     0.155625
94     0.142857
99     0.120385
223    0.187735
Name: tip_pct, dtype: float64
('Fri', 'Yes')
90    0.103555
92    0.173913
93    0.263480
95    0.117750
96    0.146628
Name: tip_pct, dtype: float64
('Sat', 'No')
19    0.162228
20    0.227679
21    0.135535
22    0.141408
23    0.192288
Name: tip_pct, dtype: float64
('Sat', 'Yes')
56    0.078927
58    0.156584
60    0.158206
61    0.144823
62    0.179673
Name: tip_pct, dtype: float64
('Sun', 'No')
0    0.059447
1    0.160542
2    0.166587
3    0.139780
4    0.146808
Name: tip_pct, dtype: float64
('Sun', 'Yes')
164    0.171331
172    0.710345
173    0.099843
174    0.237812
175    0.094529
Name: tip_pct, dtype: float64
('Thur', 'No')
77    0.147059
78    0.131810
79    0.156738
81    0.204082
82    0.181728
Name: tip_pct, dtype: float64
('Thur', 'Yes')
80     0.154321
83     0.152999
138    0.125000
191    0.211509
192    0.090014
Name: tip_pct, dtype: float64

In [98]:
grouped_pct.agg('mean')

day   smoker
Fri   No        0.151650
      Yes       0.174783
Sat   No        0.158048
      Yes       0.147906
Sun   No        0.160113
      Yes       0.187250
Thur  No        0.160298
      Yes       0.163863
Name: tip_pct, dtype: float64

In [99]:
grouped_pct.agg(['mean', 'std', peak_to_peak])

                 mean       std  peak_to_peak
day  smoker
Fri  No      0.151650  0.028123      0.067349
     Yes     0.174783  0.051293      0.159925
Sat  No      0.158048  0.039767      0.235193
     Yes     0.147906  0.061375      0.290095
Sun  No      0.160113  0.042347      0.193226
     Yes     0.187250  0.154134      0.644685
Thur No      0.160298  0.038774      0.193350
     Yes     0.163863  0.039389      0.151240

In [100]:
grouped_pct.agg([('foo', 'mean'), ('bar', np.std)]) # 傳入 (name, function) 的 tuple

                  foo       bar
day  smoker
Fri  No      0.151650  0.028123
     Yes     0.174783  0.051293
Sat  No      0.158048  0.039767
     Yes     0.147906  0.061375
Sun  No      0.160113  0.042347
     Yes     0.187250  0.154134
Thur No      0.160298  0.038774
     Yes     0.163863  0.039389

---

In [ ]:
print_groups(grouped)

In [ ]:
result = grouped[['tip_pct', 'total_bill']].agg(['count', 'mean', 'max'])
result

In [ ]:
result['tip_pct']

In [ ]:
# Durchschnitt 是德語的平均，Abweichung 是德語的變異數
grouped[['tip_pct', 'total_bill']].agg([('Durchschnitt', 'mean'), ('Abweichung', np.var)])

---

In [ ]:
print_groups(grouped)

In [ ]:
grouped.agg({'tip': np.max, 'size': 'sum'})  # 針對不同行套用不同的函式

In [ ]:
grouped.agg({'tip_pct' : ['min', 'max', 'mean', 'std'],
             'size' : 'sum'})

---

In [ ]:
tips

In [ ]:
# 如果加入參數 as_index = False，day 與 smoker 就不會變成索引標籤
tips.groupby(['day', 'smoker'], as_index = False).mean()

---

In [ ]:
sensor_data = pd.read_csv('./mod08/sensors.csv')
sensor_data[:5]

In [ ]:
mi = sensor_data.copy()
mi = mi.set_index(['sensor', 'axis'])
mi[:5]

In [ ]:
sensor_axis_grouping = mi.groupby(level = ['sensor', 'axis'])
print_groups(sensor_axis_grouping)

In [ ]:
sensor_axis_grouping.agg(np.mean)

---

In [ ]:
sensor_data

In [ ]:
sensor_data.groupby(['sensor', 'axis']).agg(np.mean) # 預設 as_index = True

In [ ]:
sensor_data.groupby(['sensor', 'axis'], as_index = False).agg(np.mean)

---

In [ ]:
print_groups(sensor_axis_grouping)

In [ ]:
sensor_axis_grouping.mean()

In [ ]:
sensor_axis_grouping.agg(np.mean)

In [ ]:
sensor_axis_grouping.agg([np.sum, np.std])

In [ ]:
# 針對不同行套用不同的函式
# len 在算序列的長度
sensor_axis_grouping.agg({'interval': len, 'reading': np.mean})

In [ ]:
sensor_axis_grouping['reading'].mean() # 返回序列

In [ ]:
sensor_axis_grouping[['reading']].mean() # 返回資料框

## 轉換分組資料

In [87]:
df = pd.DataFrame({'A': 'a b a'.split(),
                   'B': [1, 2, 3],
                   'C': [4, 6, 5]})
df

   A  B  C
0  a  1  4
1  b  2  6
2  a  3  5

In [88]:
g = df.groupby('A')

In [ ]:
print_groups(g)

---

In [89]:
g[['B', 'C']].mean()

     B    C
A
a  2.0  4.5
b  2.0  6.0

# 序列的 .apply() 方法作用在值上，資料框的 .apply() 方法作用在序列上， GroupBy 物件作用在分組後的每個資料框或序列上
# GroupBy 物件作用 .apply() 方法後只要回來的還是跟原資料框同大小與順序，沒有聚合的效果，會把算出來的答案還原到原始的資料框

In [90]:
g[['B', 'C']].apply(lambda x: x + 2)

   B  C
0  3  6
1  4  8
2  5  7

In [91]:
g[['B', 'C']].apply(lambda x: x / x.sum())

      B         C
0  0.25  0.444444
1  1.00  1.000000
2  0.75  0.555556

#  GroupBy 物件作用 .apply() 方法後有聚合的效果，會把每組算出來的答案像 pd.concat() 的方式把每組的結果串聯起來
# 且把分組的名字納入索引標籤

In [ ]:
print_groups(g)

In [92]:
g[['B', 'C']].apply(lambda x: x.max() - x.min())

   B  C
A
a  2  1
b  0  0

In [93]:
g.apply(lambda x: x.C.max())

A
a    5
b    6
dtype: int64

---

In [ ]:
tips = pd.read_csv('./mod08/tips.csv')
tips['tip_pct'] = tips['tip'] / tips['total_bill']
tips[:6]

In [ ]:
def top(df, n = 5, column = 'tip_pct'):
    return df.sort_values(by = column)[-n:]

top(tips, n = 6)

---

In [ ]:
print_groups(tips.groupby('smoker'))

In [ ]:
# 這裡有聚合的效果，每看到一個群組就會呼叫 top 函式
# 最後每個結果會用類似 pd.concat() 的方式串連起來，用分組名稱標示每塊資料，所以最後出來的結果帶有階層式索引
tips.groupby('smoker').apply(top)

---

In [ ]:
print_groups(tips.groupby(['smoker', 'day']))

In [ ]:
# 有其他參數或關鍵字要傳的話，將他們寫在函式名稱後面即可
tips.groupby(['smoker', 'day']).apply(top, n = 1, column = 'total_bill')

---

In [ ]:
print_groups(tips.groupby('smoker'))

In [ ]:
result = tips.groupby('smoker')['tip_pct'].describe()
result

In [ ]:
result.stack()

---

In [ ]:
tips

In [ ]:
print_groups(tips.groupby('smoker')['tip_pct'])

In [ ]:
tips.groupby('smoker')['tip_pct'].apply(lambda x: x.describe())

---

In [ ]:
print_groups(tips.groupby('smoker'))

In [ ]:
tips.groupby('smoker').apply(top)

In [ ]:
# 可以比較一下 as_index = False 與 group_keys = False 的差別
tips.groupby('smoker', group_keys = False).apply(top) # 關閉分組索引製作功能

---

In [ ]:
# 分位數與購物籃分析
frame = pd.DataFrame({'data1': np.random.randn(1000),
                      'data2': np.random.randn(1000)})
frame

In [ ]:
quartiles = pd.cut(frame.data1, 4)
quartiles[:10]

In [ ]:
grouped = frame.data2.groupby(quartiles)
print_groups(grouped)

In [ ]:
grouped.max()

In [ ]:
def get_stats(group):
    return  pd.Series({'min': group.min(), 
                       'max': group.max(),
                       'count': group.count(),
                       'mean': group.mean()})

grouped.apply(get_stats)

In [ ]:
# 寫成字典會得到跟剛剛一樣的效果，出來的字典型態會被轉換成序列在串連起來
def get_stats(group):
    return  {'min': group.min(), 
            'max': group.max(),
            'count': group.count(),
            'mean': group.mean()}

grouped.apply(get_stats)

In [ ]:
grouped.apply(get_stats).unstack()

---

In [ ]:
frame

In [ ]:
 pd.qcut(frame.data1, 10)

In [ ]:
# 如果加入參數 labels = False，會把桶子名改成數值，從 0 開始算起。
grouping = pd.qcut(frame.data1, 10, labels = False)
grouping

In [ ]:
grouped = frame.data2.groupby(grouping)
print_groups(grouped)

In [ ]:
grouped.apply(get_stats)

In [ ]:
grouped.apply(get_stats).unstack()

---

In [ ]:
df = pd.DataFrame({'key': ['a', 'b', 'c']*4,
                   'value': np.arange(12.)})
df

In [ ]:
g = df.groupby('key')['value']

In [ ]:
print_groups(g)

In [ ]:
g.mean()

In [ ]:
g.apply(lambda x: x.mean())

In [ ]:
g.apply(lambda x: np.mean(x))

---

In [ ]:
df

In [ ]:
g = df.groupby('key')['value']
print_groups(g)

In [ ]:
# 注意 GroupBy 物件的 .transform() 方法的效果，與 .apply() 的差別
# 可以產生一個常數，用於廣播到所有分組，把值帶回原始的資料框
# 可以產生跟輸入分組一樣大小的一個資料，再把值帶回原始的資料框
# 它的輸入不能是 mutate 類型
g.transform(lambda x: x.mean())

In [ ]:
g.transform('mean')

---

In [ ]:
df

In [ ]:
g = df.groupby('key')['value']
print_groups(g)

In [ ]:
# 這時跟用 .apply() 方法同效果
g.transform(lambda x: x*2)

In [ ]:
g.apply(lambda x: x*2)

In [ ]:
g.transform(lambda x: x.rank(ascending = False))

---

In [ ]:
df

In [ ]:
g = df.groupby('key')['value']
print_groups(g)

# 目標對每一組做標準化，也就是減去平均值再除以標準差
# 這樣每一組的平均值都是 0 ，標準差都是 1。好判斷也利於分析

In [ ]:
def normailze(x):
    return (x - x.mean())/x.std()

In [ ]:
# 沒有聚合效果，所以跟 .apply() 產生同一的結果
g.transform(normailze)

In [ ]:
g.apply(normailze)

---

# 剛剛結果的另一種寫法

In [ ]:
df

In [ ]:
g = df.groupby('key')['value']
print_groups(g)

In [ ]:
g.transform('mean')

In [ ]:
g.transform('std')

In [ ]:
#　這種方法叫做未包裝分組 (unwrapped)
(df['value'] - g.transform('mean'))/g.transform('std')

---

In [ ]:
transform_data = pd.DataFrame({ 'Label': ['A', 'C', 'B', 'A', 'C'],
                                'Values': [0, 1, 2, 3, 4],
                                'Values2': [5, 6, 7, 8, 9],
                                'Other': ['foo', 'bar', 'baz', 'fiz', 'buz']}, index = list('VWXYZ'))
transform_data

In [ ]:
grouped_by_label = transform_data.groupby('Label')
print_groups(grouped_by_label)

In [ ]:
grouped_by_label[['Values', 'Values2']].transform(lambda x: x + 10)

---

In [ ]:
df = pd.DataFrame({ 'Label': list("ABABAB"),
                    'Values': [10, 20, 11, np.nan, 12, 22]})
df

In [ ]:
grouped = df.groupby('Label')
print_groups(grouped)

In [ ]:
grouped.mean()

In [ ]:
# 遺失值按照分組的平均值來填
filled_NaNs = grouped.transform(lambda x: x.fillna(x.mean()))
filled_NaNs

---

In [ ]:
# 從平均值 0.5，標準差 2 的常態分佈選出 365*3 個數
np.random.seed(123456)
data = pd.Series(np.random.normal(0.5, 2, 365*3), 
                 index = pd.date_range('2013-01-01', periods = 365*3))
data

In [ ]:
# window: 窗要多大
# min_periods: 窗裡面最少有幾個值就算出結果
periods = 100
data.rolling(window = periods, min_periods = periods).mean()

In [ ]:
periods = 100
rolling = data.rolling(window = periods, min_periods = periods).mean().dropna()
rolling

In [ ]:
rolling.plot(); # 之後會有專門的章節介紹

---

# 目標想對 rolling 這個序列依照年份算出他們的平均值與標準差

In [ ]:
rolling

In [ ]:
# 注意現在的索引標籤是 datetime 資料型態
group_key = lambda x: x.year
groups = rolling.groupby(group_key) # 別忘了 .groupby() 方法也可帶入函式，會作用在每個索引標籤上
print_groups(groups)

In [ ]:
groups.agg([np.mean, np.std])

---

# 目標對每一組做標準化，也就是減去平均值再除以標準差
# 這樣每一組的平均值都是 0 ，標準差都是 1。好判斷也利於分析

In [ ]:
print_groups(rolling.groupby(group_key))

In [ ]:
zscore = lambda x: (x - x.mean())/x.std()
normed = rolling.groupby(group_key).transform(zscore)
normed

In [ ]:
normed.groupby(group_key).agg([np.mean, np.std])

---

In [ ]:
compared = pd.DataFrame({'Original': rolling,
                         'Normed': normed})
compared

In [ ]:
# 標準化完的資料再視覺化，更容易理解也更有利於分析
compared.plot();

## 過濾分組資料

In [ ]:
df = pd.DataFrame({'Label': list('AABCCC'),
                   'Values': [1, 2, 3, 4, np.nan, 8]})
df

In [ ]:
print_groups(df.groupby('Label'))

In [ ]:
# GroupBy 物件的 .filter() 方法裡面放函式，函式返回的是布林值
# 把分完組的資料框或序列，一個一個帶入函式，True 的留下來，False 的會被過濾掉，再返回原始資料
f = lambda x: x.Values.count() > 1 # 序列的 .count() 方法沒算遺失值
df.groupby('Label').filter(f)

In [ ]:
# 只要組裡有遺失值，整組就被刪了!
f = lambda x: x.Values.isnull().sum() == 0
df.groupby('Label').filter(f)

---

In [ ]:
df

In [ ]:
grouped = df.groupby('Label')
print_groups(grouped)

In [ ]:
grouped.mean()

In [ ]:
# 先算出每組的平均，再取平均
group_mean = grouped.mean().mean()
group_mean

In [ ]:
# 比組的平均差距高過 2 留下，其他全組過濾掉!
f = lambda x: abs(x.Values.mean() - group_mean) > 2.0
df.groupby('Label').filter(f)

## 綜合應用

### 依分組指定填充遺失值

In [ ]:
s = pd.Series(np.random.randn(6))
s[::2] = np.nan
s

In [ ]:
# 就序列而言，把遺失值填入平均值還蠻常見
s.fillna(s.mean())

---

# 如果有更多資訊，可以考慮分完組後再把遺失值填入平均

In [ ]:
states = ['Ohio', 'New York', 'Vermont', 'Florida',
          'Oregon', 'Nevada', 'California', 'Idaho']
group_key = ['East'] * 4 + ['West'] * 4
data = pd.Series(np.random.randn(8), index = states)
data

In [ ]:
group_key

In [ ]:
data[['Vermont', 'Nevada', 'Idaho']] = np.nan
data

In [ ]:
print_groups(data.groupby(group_key))

In [ ]:
data.groupby(group_key).mean()

In [ ]:
# 這題用 .transform() 方法會得到一樣的結果
fill_mean = lambda g: g.fillna(g.mean())
data.groupby(group_key).apply(fill_mean)

---

# 我執意要把東岸的遺失值填入 0.5，西岸的填入 -1 ，應該如何操作

In [ ]:
print_groups(data.groupby(group_key))

In [ ]:
# 這題用 .transform() 方法會得到一樣的結果
fill_values = {'East': 0.5, 'West': -1}
fill_func = lambda g: g.fillna(fill_values[g.name])
data.groupby(group_key).apply(fill_func)

### 隨機取樣和排列

In [ ]:
# 紅心 (Heart)、黑桃 (Spade)、梅花 (club)、方塊 (Diamond)
suits = ['H', 'S', 'C', 'D']
card_val = (list(range(1, 11)) + [10]*3)*4
base_names = ['A'] + list(range(2, 11)) + ['J', 'Q', 'K']
suits

In [ ]:
card_val

In [ ]:
base_names

In [ ]:
# 用 list comprehensive 來顯示紅心的牌
[str(num) + 'H' for num in base_names]

In [ ]:
# 真正來製作一副撲克牌
cards = []
for suit in ['H', 'S', 'C', 'D']:
    cards.extend([str(num) + suit for num in base_names])
    
deck = pd.Series(card_val, index = cards)
deck

In [ ]:
# 自定義函數來看看要取出幾張牌
def draw(deck, n = 5):
    return deck.sample(n)

draw(deck)

In [ ]:
# 從每種花色隨機抽兩張牌
get_suit = lambda card: card[-1]
deck.groupby(get_suit).apply(draw, n = 2)

In [ ]:
# 當然也可以把匿名函數寫在裡面
deck.groupby(get_suit).apply(lambda x: x.sample(2))

In [ ]:
deck.groupby(get_suit, group_keys = False).apply(draw, n = 2)

### 加權平均和關聯性

In [ ]:
df = pd.DataFrame(np.array([[1, 2], [3, 4], [5, 4]]),
                  columns = ['data', 'weights'])
df

注意加權平均是要自己乘上【權重/權重相加】<br/>
這題會是 $$1\times\frac{2}{10}+3\times\frac{4}{10}+5\times\frac{4}{10} = 3.4$$

In [ ]:
# 可調用 np.average() 函式幫我們處理
np.average(df.data, weights = df.weights)

---

# 目標算出每組的加權平均

In [ ]:
df = pd.DataFrame({'category': ['a', 'a', 'a', 'a',
                                'b', 'b', 'b', 'b'],
                   'data': np.random.randn(8),
                   'weights': np.random.rand(8)})
df

In [ ]:
grouped = df.groupby('category')
get_wavg = lambda g: np.average(g['data'], weights = g['weights'])
grouped.apply(get_wavg)

---

# 目標計算個股每日收益 (從百分比變化計算得來) 和 標準普爾 500 指數 SPX 每年的相關性

In [ ]:
close_px = pd.read_csv('./mod08/stock_px_2.csv', 
                       parse_dates = True,
                       index_col = 0)
close_px

In [ ]:
# 資料框的 .info() 方法可以簡略看出資料框的資訊
close_px.info()

In [ ]:
close_px[:5]

In [ ]:
# 計算每個欄位的變化百分比
rets = close_px.pct_change()
rets

In [ ]:
# 去除遺失值
rets = rets.dropna()
rets

In [ ]:
get_year = lambda x: x.year
by_year  = rets.groupby(get_year)
print_groups(by_year)

In [ ]:
# 分完組後，去看每個股票跟 SPX 的相關係數
spx_corr = lambda x: x.corrwith(x['SPX'])
by_year.apply(spx_corr)

In [ ]:
# 分完組後，去看 APPLE 股價跟 MSFT 股價的相關係數
by_year.apply(lambda g: g['AAPL'].corr(g['MSFT']))

---

# 如果相關性夠高，我們會想把那條迴歸線解出來，這已經偏離課程，暫不討論

In [ ]:
import statsmodels.api as sm

def regress(data, yvar, xvars):
    Y = data[yvar]
    X = data[xvars]
    X['intercept'] = 1.
    result = sm.OLS(Y, X).fit()
    return result.params

In [ ]:
by_year.apply(regress, 'AAPL', ['SPX'])

### 樞紐關係表和交叉表

In [ ]:
tips = pd.read_csv('./mod08/tips.csv')
tips['tip_pct'] = tips['tip'] / tips['total_bill']
tips[:6]

In [ ]:
# 跟 .pivot() 方法類似，要給出 values、index、columns
# pivot_table 預設的聚合型態是計算分組的平均值
tips.pivot_table(index = ['day', 'smoker'])

In [ ]:
tips.pivot_table(values = ['tip_pct', 'size'], index = ['time', 'day'], columns = 'smoker')

In [ ]:
# 注意 margins 參數的效果
tips.pivot_table(values = ['tip_pct', 'size'], index = ['time', 'day'], columns = 'smoker', margins = True)

In [ ]:
# 跟上面比對一下
tips['size'].mean()

In [ ]:
# 跟上上面比對一下
tips.groupby('smoker')[['size', 'tip_pct']].mean()

---

In [ ]:
# 第一個位置參數就是 values
tips.pivot_table('tip_pct', index = ['time', 'smoker'], 
                  columns = 'day',
                  aggfunc= len,
                  margins = True)

In [ ]:
# 跟上上面比對一下
grp = tips.groupby(['time', 'smoker', 'day'])['tip_pct']
print_groups(grp)

---

In [ ]:
tips.pivot_table('tip_pct', index = ['time', 'size', 'smoker'],
                 columns = 'day', aggfunc = 'mean')

In [ ]:
tips.pivot_table('tip_pct', index = ['time', 'size', 'smoker'],
                 columns = 'day', aggfunc = 'mean', fill_value = 0)

---

In [ ]:
from io import StringIO

data = """\
Sample  Nationality  Handedness
1   USA  Right-handed
2   Japan    Left-handed
3   USA  Right-handed
4   Japan    Right-handed
5   Japan    Left-handed
6   Japan    Right-handed
7   USA  Right-handed
8   USA  Left-handed
9   Japan    Right-handed
10  USA  Right-handed"""
data = pd.read_table(StringIO(data), sep = '\s+')

In [ ]:
data

In [ ]:
# 交叉表是一種樞紐分析表的特殊例子，專用來計算分組的頻率
# pd.crosstab 是全域函式，所以參數沒辦法帶入像 'Nationality' 之類的字串
# 只帶入 index 與 columns 參數，會幫你算每組的個數
pd.crosstab(index = data.Nationality, columns = data.Handedness, margins = True)

In [ ]:
data.pivot_table('Sample', index = 'Nationality', columns = 'Handedness', margins= True, aggfunc = 'count')

In [ ]:
grp = data.groupby(['Nationality', 'Handedness'])
print_groups(grp)

In [ ]:
grp.count()

---

In [ ]:
pd.crosstab(index = [tips.time, tips.day], columns = tips.smoker, margins = True)

---

# 可以用之前學過的方法把 data 放進資料框嗎 ?

In [ ]:
data = """\
Sample  Nationality  Handedness
1   USA  Right-handed
2   Japan    Left-handed
3   USA  Right-handed
4   Japan    Right-handed
5   Japan    Left-handed
6   Japan    Right-handed
7   USA  Right-handed
8   USA  Left-handed
9   Japan    Right-handed
10  USA  Right-handed"""

In [ ]:
lst = data.split('\n')

In [ ]:
lst

In [ ]:
pd.Series(lst)

In [ ]:
# 因為裡面有很多空白，所以要用 '\s+'
s = pd.Series(lst).str.split('\s+')
s

In [ ]:
# 要先把資料框的框架建出來
my_df = pd.DataFrame(np.zeros((len(s) - 1, 3)), columns = s[0])
my_df

In [ ]:
for i, val in enumerate(s[1:]):
    my_df.iloc[i] = val

In [ ]:
my_df